footer{
    width: 100%;
    height: 300px;
    background: #775a04;
    padding: 20px 20 20px 20px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
   /* justify-content: center;*/
  }

  footer section{
    width: 375px;
    height: 250px;  
  }
  .text-box{
    border: 2px solid white; /* Border style */
    width: 200px;
    padding: 10px; /* Padding to give space around the text */
    display: inline-block; /* Ensures the box wraps around the text */
    color: white;
  }

  .imgs img{
    
     width: 150px;
     height: 150px;
  }
  
  footer section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  footer section ul li a{
    text-decoration: none;
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
  section
  {
    border: 2px solid white; /* Border style */
    padding: 50px; /* Padding */
  }
  .icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    filter: invert(100%);
  }
  .icons img{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--bg-color);
  }
  #recipient-email{
    border: 2px solid white; /* Border style */
    padding: 10px; /* Padding */
    height:max-content;
    
  }