*{
    margin: 0;
    padding: 0;
    box-sizing: border box;
    font-family: "Poppins", sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('login.jpg');
    background-size: cover;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
    justify-content: center;
    justify-items: center;
    width: 420px;
    backdrop-filter: blur(4.5px);
    color: white;
    border-radius: 50px;
    padding: 30px 40px;

}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper input[type="submit"]{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

input[type=text], input[type=password]
{
    display: inline-block;
    padding: 3px;
    font-size: 15px;
    
}

label{
    position: absolute;
    top: 20px;
    left: 10px;
    transition: all 0.3s ease ;
    pointer-events: none;
}

/*input:focus + label{
    transform: translateY(-20px) translateX(15px);
    font-size: 12px;
    
}*/
  .nav {
    width: auto;
    height: 50px;
    padding: 5px 90px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 24px 0px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style: none;
    text-transform: uppercase;
  }
  
  .nav ul li a {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav ul li a:hover{
    opacity: 0.8;
  }

  .errors{
    background-color: red;
    color: white;
    border: none;
  }
  