@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s linear;
    /*overflow: hidden;*/
}

body::-webkit-scrollbar{
    display: none;
}

.recipesearch{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipesearch .input{
    flex:2;
    background-color: #f8f9fa;
    width: 300px;
    border: none;
    padding: 8px;
    border-radius: 20px;
    outline: none;
}

input[type="search"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    

}

input[type="search"]:hover {
    background-color: #0056b3;
}

.search{
    margin: 5px auto;
}

/*.recipesearch .button{
    padding: 8px 20px;
    margin-left: 120px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;

}*/

.recipesearch button:hover{
    background-color: #0056b3;
}

.vegnonveg {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
}

.vegnonveg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.vegnonveg:hover input ~ .checkmark {
    background-color: #f0f0f0;
}

.vegnonveg input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.vegnonveg input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 9px;
    top: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.recipes{
    /*background:linear-gradient(45deg, blueviolet, lightgreen);*/
    background:linear-gradient(45deg, rgb(132, 131, 133), rgb(255, 255, 255));
    padding:20px 9%;
    padding-bottom: 400px;
    height: 2000px;
}

.recipesfurther{
    margin-top: 40px;
}

.div{
    height: 430px;
}


.recipes .recipesfurther{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:20px;
    height: 100px;
}

.recipes .recipesfurther .div{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: linear-gradient(135deg, #604a42, #bda595);
    text-align: center;
    padding:50px 20px;
}

.recipes .recipesfurther .div img{
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px  black;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
    border-radius: 5%;
    transition: transform 0.3s ease;
    margin-top: -30px;
    z-index: 999;
}

.recipes .recipesfurther .div img:hover{
    transform: scale(1.5);
}

.recipes .recipesfurther .div .recipename{
    color:#ffffff;
    font-size: 23px;
    font-weight: bold;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5) ;
    padding:10px 0;
}

.viewrecipe{
    margin-top: 20px;
    font-size: 25px;
    color: #f5f5dc;
    display: block;
    transition: background-color 0.3s, border-radius 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
}

.viewrecipe:hover{
    background-color: #8a6b60;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.1);
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}